@import 'variables.scss';

.bulk-actions {
  margin: $spacing-md 0;
  display: flex;
  justify-content: center;

  &__button {
    background-color: $danger-color;
    color: $text-light;
    padding: $spacing-sm $spacing-lg;
    border-radius: $radius-sm;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: $spacing-sm;
    transition: background-color $transition-speed;

    &:hover {
      background-color: $danger-dark;
    }
  }
}